<footer class="fbar">
  <span class="fsr">
      <!--<span class="_eA">
          2014-2015&nbsp;Copyright&nbsp;&copy;&nbsp;wwwwww.cf
      </span>-->
      <span class="_Gs">
          Power by <a href="http://wwwwww.cf" target="_blank">Longbo Ma</a>
      </span>
  </span>
  <span class="fsl">
      <a class="_eA" href="链接" target="_blank">
          广告链接
      </a>
      
      <a class="_Gs" href="链接" target="_blank" title="链接">
          <strong>广告链接</strong>
      </a>
      <a class="_Gs" href="链接" target="_blank" title="链接">
          <strong>广告链接</strong>
      </a>
      <a class="_Gs" href="链接" target="_blank">
          广告链接
      </a>
  </span>
</footer>